backup/
_includes/
_sass/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem
.bundle
Gemfile.lock
**/vendor/bundle
!./_includes/head/custom.html
!./_includes/footer.html
!./_includes/sidebar.html
!./_includes/footer/custom.html
.DS_Store
